#firstcol{
	background-color: #343539;
}

#firstcol p{
	
	padding-top: 35px;
	color: #8B8B8C;

}
#firstcol h1{
	color: #D6B631;

}

#secondcol{
	/*border: 2px solid black;
	height:400px;
	background-size: cover;
	background-image: url("https://raw.githubusercontent.com/moringaschool/Self_Assessments/master/Assessment1/assets/big_img.jpg?token=AGV8msI2gFHDOnhfZbQZh-w4LAASrIoYks5VIjpXwA%3D%3D");*/
}


